/* Глобальные блоки */

.slogan {
  width: 619px;

  font-size: 16px;
  line-height: 20px;
}

.offer {
  width: 472px;
  
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

/* Декоративные блоки */

.background {
  width: 855px;
  height: 569px;
}

/* Abous Us позиционирование */

.content__about-us {
  position: relative;
}

.about-us__background {
  position: absolute;

  top: -124px;
  right: -124px;
  
  pointer-events: none;
}

.about-us__title {
  display: flex;
  flex-direction: column;
}

.about-us__slogan {
  margin: 33px 0 116px;
}

.about-us__button {
  margin-bottom: 20px;
}

@media (min-width: 360px) and (max-width: 767px) {

  /* Глобальные блоки */

  .offer {
    width: 287px;
  }

  /* Декоративные блоки */

  .background {
    width: 447px;
    height: 299px;
  }

  /* About Us позиционирование */

  .about-us__background {
    top: -10px;
    right: -58px;
  }

  .about-us__slogan {
    margin: 274px 0 50px;
  }

  .about-us__button {
    margin: 0 32px 9px;
  }
}

@media (min-width: 485px) and (max-width: 1179px) {

  .about-us__title {
    flex-direction: row;
    gap: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1179px) {

  /* Глобальные блоки */

  .offer {
    width: 340px;
    text-align: center;
  }

  /* Декоративные блоки */

  .background {
    width: 569px;
    height: 378px;
  }

  /* About Us позиционирование */

  .about-us__background {
    top: -24px;
    right: -83px;
  }

  .about-us__slogan {
    margin: 21px 0 54px;
  }

  .about-us__button {
    margin-bottom: 10px;
  }
}