/* Глобальные блоки */

.awards {
  border-radius: 10px;
  background-color: var(--yellow);
}

/* Декоративные блоки */

.swiper-2 {
  overflow: hidden;
}

.swiper-slide-2 {
  width: 231px;
  text-align: center;
}

.img-certificate {
  width: 231px;
  height: 327px;
}

/* Декоративные элементы */

.border {
  border-radius: 10px;
  border: 1px solid var(--white);
}

.swiper-pagination-2 .swiper-pagination-bullet {
  background-color: var(--swiper-pagination-bullet);
}

.swiper-pagination-2 .swiper-pagination-bullet-active {
  background-color: var(--purple);
}

/* Awards позиционирование */

.awards__border {
  position: relative;
  padding: 27px 96px 19px 467px;
}

.awards__gold-bitrix {
  position: absolute;
  top: 14px;
  left: 13px;
}

.awards__swiper-wrapper {
  display: flex;
  justify-content: space-between;
}

.certificate__text {
  margin: 6px 0 14px;
}

/* Awards модификаторы */

.content__awards--padding {
  padding: 26px 20px;
}

.awards__swiper--width {
  width: 557px;
}

.certificate__title--color {
  color: var(--gray);
}

@media (min-width: 360px) and (max-width: 767px) {

  /* Глобальные блоки */

  .certificate {
    width: 280px;
  }

  /* Декоративные блоки */

  .gold-bitrix {
    width: 99px;
    height: 120px;
  }

  .img-certificate {
    width: 280px;
    height: 395px;
  }

  /* Awards позиционирование */

  .content__awards {
    padding: 19px 16px 15px 17px;
  }

  .awards__gold-bitrix {
    margin: 19px auto;
  }

  .certificate__text {
    margin: 0 34px 24px;
  }

  /* Awards модификаторы */

  .awards__border--margin {
    margin: 19px 17px 0;
  }

  .awards__swiper--width {
    width: 280px;
  }

  .certificate__text--width {
    width: 212px;
  }
}

@media (min-width: 768px) and (max-width: 1179px) {

  /* Декоративные блоки */

  .gold-bitrix {
    width: 185px;
    height: 226px;
  }

  .img-certificate {
    width: 429px;
    height: 607px;
  }

  /* Awards позиционирование */

  .awards__gold-bitrix {
    margin: 44px auto;
  }

  .certificate__text {
    margin-bottom: 26px;
  }

  /* Awards модификаторы */

  .awards__swiper--width {
    width: 429px;
  }
}