/* Checkbox */

.checkbox {
  display: none;
}

.custom-checkbox {
  width: 16px;
  height: 16px;

  display: inline-block;
  position: relative;

  margin-right: 13px;
  vertical-align: sub;

  border-radius: 2px;
  background: var(--lavender);
}

.custom-checkbox::before {
  content: "";

  width: 10px;
  height: 7.34px;

  display: inline-block;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  transition: 0.2s ease-in;

  background-image: url(../images/check-mark.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}