/* Глобальные блоки */

.footer {
  width: 125%;
  height: 569px;

  background: var(--navy);
}

/* Footer позиционирование */

.container__footer {
  margin-top: 269px;
}

.footer__holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social {
  display: flex;
  gap: 20px;
}

.footer__logo {
  margin: 0 auto 20px;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}

/* Footer модификаторы */

.container__footer--padding {
  padding: 75px 140px 58px;
}

.footer__button--width {
  width: 341px;
}

.footer__holder--margin {
  margin: 30px 0 32px;
}

.footer__holder--margin-2 {
  margin: 14px 0 24px;
}

.footer__logo--size {
  width: 161px;
  height: 55px;
}

@media (min-width: 360px) and (max-width: 767px) {

  /* Глобальные блоки */

  .footer {
    height: 642px;
  }

  /* Footer позиционирование */

  .container__footer {
    margin: 150px -10px 0;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__holder {
    flex-direction: column;
  }

  .phone {
    flex-direction: column-reverse;
  }

  .footer__delimiter {
    margin: 30px 0;
  }

  .footer__adress {
    margin-top: 38px;
    order: 2;
  }

  .footer__social {
    order: 1;
  }

  .footer__logo {
    margin: 37px 0 24px;
  }

  /* Footer модификаторы */

  .container__footer--padding {
    padding: 27px 10px 48px;
  }

  .footer__button--width {
    width: 275px;
  }

  .footer__holder--margin {
    margin: 11px 0 30px;
  }

  .footer__holder--margin-2 {
    margin-bottom: 28px;
  }
}

@media (min-width: 768px) and (max-width: 1179px) {

  /* Глобальные блоки */

  .footer {
    width: 103%;
    height: 506px;
  }
  
  /* Footer позиционирование */

  .container__footer {
    margin: 250px -10px 0;
  }

  .footer__logo {
    margin: 37px auto 31px;
  }

  /* Footer модификаторы */

  .container__footer--padding {
    padding: 42px 51px 50px;
  }

  .footer__holder--margin {
    margin: 6px 0 18px;
  }

  .footer__holder--margin-2 {
    margin: 29px 0 33px;
  }
}