/* Глобальные блоки */

.contacts {
  font-weight: 800;
}

/* Header позиционирование */

.container__header {
  margin: 32px 0 67px;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger__wrapper {
  display: flex;
  align-items: center;
}

.header__menu {
  margin: 0 35px 0 70px;
}

.menu__list {
  display: flex;
  gap: 27px;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contacts__list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__button {
  margin-left: 20px;
}

/* Header модификаторы */

.header__button--width {
  width: 180px;
}

@media (min-width: 360px) and (max-width: 767px) {

  /* Глобальные блоки */

  .header {
    width: 100%;
  }

  /* Header позиционирование */

  .container__header {
    margin: 12px 0 15px;
  }
}

@media (min-width: 768px) and (max-width: 1179px) {
  
  /* Header позиционирование */

  .container__header {
    margin: 23px 20px 41px;
  }
}