/* Input Box */

.input-box {
  width: 338px;
  height: 30px;
}

.input-field {
  width: 100%;
  height: 100%;

  border-bottom: 2px solid var(--white-transparent);
  background: transparent;
}

.input-field::placeholder {
  color: var(--white-transparent);
}

@media (min-width: 360px) and (max-width: 767px) {
  /* Input Box */

  .input-box {
    width: 250px;
    height: 23px;
  }
}