/* Research позиционирование */

.content__research {
  margin: 150px auto 119px;
}

.research__title {
  margin-bottom: 66px;
}

.research__wrapper {
  display: flex;
  gap: 10px;
}

.research__tagline {
  margin-bottom: 15px;
}

/* Research модификаторы */

.research__inner--size {
  width: 50%;
}

@media (min-width: 360px) and (max-width: 767px) {

  /* Декоративные блоки */

  .scheme {
    width: 370px;
    height: 308px;
  }

  /* Research позиционирование */

  .content__research {
    margin: 107px 0 70px;
  }

  .research__wrapper {
    flex-direction: column;
    gap: 19px;
  }

  .research__scheme {
    margin: 0 auto;
  }

  /* Research модификаторы */

  .research__inner--size {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1179px) {

  /* Декоративные блоки */

  .scheme {
    width: 370px;
    height: 308px;
  }

  /* Research позиционирование */

  .content__research {
    margin: 100px 4px;
  }

  .research__wrapper {
    align-items: center;
    gap: 0;
  }
}