/* Декоративные элементы */

.priority {
  border-radius: 10px;

  box-shadow: 0px 10px 60px 0px var(--priority);
  background: var(--white);
}

.circle {
  width: 53px;
  height: 53px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white);

  border-radius: 50%;
  background-color: var(--green);
}

.streak {
  border: 1px solid var(--silver);
}

/* Stages позиционирование */

.stages__wrapper {
  margin-top: 63px;
}

.stages__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stages__priority {
  margin-bottom: 55px;
}

.priority__streak {
  margin: 28px 0 26px;
}

.stages__subtitle {
  display: flex;
  align-items: center;
}

.priority__subtitle {
  margin-left: 125px;
}

.priority__h4 {
  margin-bottom: 15px;
}

.stages__image {
  margin-top: 100px;
}

/* Stages модификаторы */

.stages__priority--padding {
  padding: 23px 85px;
}

.stages__frame-1--margin-bottom,
.stages__frame-2--margin-bottom {
  margin-bottom: 72px;
}

.stages__frame-3--margin-bottom {
  margin-bottom: 7px;
}

.stages__frame-4--margin-bottom {
  margin-bottom: 28px;
}

.priority__h4--margin-bottom {
  margin-bottom: 215px;
}

@media (min-width: 360px) and (max-width: 767px) {
  /* Stages позиционирование */

  .stages__wrapper {
    margin-top: 30px;
  }

  .priority__streak {
    margin: 24px 0 14px;
  }
  
  .priority__subtitle {
    margin-left: 18px;
  }

  .stages__image {
    margin-top: 20px;
  }
  
  /* Stages модификаторы */

  .stages__priority--padding {
    padding: 23px 13px;
  }

  .stages__frame-1--margin-bottom,
  .stages__frame-2--margin-bottom {
    margin-bottom: 2px;
  }

  .stages__frame-3--margin-bottom {
    margin-bottom: 23px;
  }

  .stages__frame-4--margin-bottom {
    margin-bottom: 5px;
  }

  .priority__h4--margin-bottom {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1179px) {
  /* Stages позиционирование */

  .content__stages {
    margin: 0 4px;
  }

  .stages__wrapper {
    margin: 30px 36px 0 36px;
  }

  .priority__subtitle {
    margin-left: 50px;
  }

  .stages__image {
    margin-top: 26px;

  }

  /* Stages модификаторы */

  .stages__priority--padding {
    padding: 23px 49px;
  }

  .stages__frame-4--margin-bottom {
    margin-bottom: 34px;
  }

  .priority__h4--margin-bottom {
    margin-bottom: 127px;
  }
}