/* Блоки */

.application {
  position: absolute;
  top: -510px;
  left: 337px;

  width: 766px;
  height: 510px;

  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  background: rgb(255, 255, 255);

  z-index: 20;
}

.application__wrapper {
  padding: 27px 190px;
}

.application.show {
  opacity: 1;
  top: 189px;
}

.call-close {
  width: 12px;
  height: 12px;
}

.headline {
  font-size: 20px;
  line-height: 24px;
}

.subject {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: rgb(126, 126, 126);
}

.field {
  width: 374px;
  height: 26px;

  box-sizing: border-box;
  padding-bottom: 9px;

  color: rgb(152, 149, 180);
  border-bottom: 2px solid rgb(152, 149, 180);
}

.field::placeholder {
  color: rgb(152, 149, 180);
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

/* Позиционирование */

.application__call-close {
  position: absolute;
  top: 12px;
  right: 17px;
}

.application__headline {
  margin-left: 52px;
}

.application__inner {
  margin: 29px 0;
}

.application__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.application__subject {
  margin-bottom: 13px;
}

.application__tiny {
  margin: 13px 0 18px;
}

.application__book {
  margin-left: 77px;
}

/* Модификаторы */

.overlay-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 10;
}

.overlay-1.visible {
  opacity: 1;
  visibility: visible;
}

.application__button--width {
  width: 374px;
}

.application__tiny--color {
  color: rgb(152, 149, 180);
}

@media (min-width: 768px) and (max-width: 1439px) {

  /* Блоки */

  .application {
    width: 532px;

    top: 133px;
    left: 118px;
  }

  .application__wrapper {
    padding: 27px 74px;
  }

  /* Позиционирование */

  .application__call-close {
    right: 12px;
  }
}

@media (min-width: 360px) and (max-width: 767px) {

  /* Блоки */

  .application {
    width: 340px;
    height: 514px;

    top: 133px;
    left: 10px;
  }

  .application__wrapper {
    padding: 27px 15px;
  }

  .headline {
    font-size: 18px;
    font-weight: 22px;
  }

  .field {
    width: 310px;
  }

  /* Позиционирование */

  .application__call-close {
    right: 9px;
  }

  .application__headline {
    margin-left: 34px;
  }

  .application__book {
    margin-left: 45px;
  }

  /* Модификаторы */

  .application__button--width {
    width: 310px;
  }
}