@media (min-width: 360px) and (max-width: 1179px) {

  /* Блоки */

  .overlay-2 {
    top: 98px;
  }
  
  .overlay-2.visible {
    opacity: 1;
    visibility: visible;
  }
  
  .burger {
    position: fixed;
    top: 99px;
    left: -360px;
    transition: left 0.3s;
    z-index: 20;
  }
  
  .burger.open {
    left: 0;
  }

  .burger__wrapper {
    position: relative;
    width: 360px;
    height: 100vh;
    padding: 80px 91px 88px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    background: white;
  }

  .header__menu {
    margin: 0;
  }

  .menu__list {
    flex-direction: column;
    gap: 28px;
  }

  .contacts {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  .contacts--highlight {
    color: var(--purple);
  }

  .contacts__item--highlight {
    color: var(--purple);
  }

  .contacts__list {
    flex-direction: column;
    gap: 0;
  }

  .header__contacts--margin-bottom {
    margin-bottom: 88px;
  }

  .contacts__item--margin-bottom {
    margin-bottom: 28px;
  }

  /* Позиционирование */

  .burger-close {
    position: absolute;
    top: 18px;
    right: 18px;
  }

  /* Модификаторы */

  .connection__item--margin-bottom {
    margin-bottom: 36px;
  }

  .burger-open__line--bottom {
    transition: width 0.3s, background 0.3s;
  }

  .burger-open__line--bottom.changed {
    width: 41px;
    background: var(--green);
  }
}

@media (min-width: 360px) and (max-width: 767px) {

  /* Блоки */

  .burger__wrapper {
    padding: 62px 91px 42px;
  }

  /* Позиционирование */

  .burger__burger-close {
    right: 0;
    left: 18px;
  }
}