/* Размеры шрифтов */

.h1 {
  font-size: 48px;
  line-height: 59px;
}

.title {
  font-size: 36px;
  line-height: 44px;
}

.subtitle, .caption,
.contacts {
  font-size: 24px;
  line-height: 29px;
}

.h4, .tagline, .description, 
.footer__text--font-size {
  font-size: 18px;
  line-height: 22px;
}

.h5, .menu {
  font-size: 14px;
  line-height: 17px;
}

.text, .button {
  font-size: 12px;
  line-height: 15px;
}

.tiny {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

@media (min-width: 360px) and (max-width: 767px) {

  /* Размеры шрифтов */

  .h1 {
    font-size: 20px;
    line-height: 24px;
  }

  .title, .caption {
    font-size: 18px;
    line-height: 22px;
  }

  .subtitle, .h4, .h5, .text,
  .tagline, .priority__h4_font-size,
  .description {
    font-size: 12px;
    line-height: 15px;
  }

  .offer {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1179px) {
  
  /* Размеры шрифтов */

  .h1 {
    font-size: 29px;
    line-height: 35px;
  }

  .title, .subtitle {
    font-size: 24px;
    line-height: 29px;
  }

  .tagline {
    font-size: 12px;
    line-height: 15px;
  }

  .offer {
    font-size: 12px;
    line-height: 16px;
  }

  .description {
    font-size: 14px;
    line-height: 17px;
  }
}