body {
  font-family: 'Montserrat';
  color: rgb(42, 35, 103);
  background: rgba(0, 0, 0, 0.2);
}

a {
  color: rgb(42, 35, 103);
  text-decoration: none;
  transition-duration: 0.5s;
}

a:hover {
  color: rgb(107, 90, 249);
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}