@media (min-width: 360px) and (max-width: 1439px) {

  /* Глобальные блоки */

  .container {
    padding: 0 10px;
  }

}

@media (min-width: 485px) and (max-width: 1179px) {

  .about-us__title {
    flex-direction: row;
    gap: 5px;
  }
}

@media (min-width: 485px) and (max-width: 767px) {

  .form {
    width: 435px;
  }

  .millenium__inner--padding {
    padding: 0 40px;
  }
}

@media (min-width: 768px) and (max-width: 1151px) {
  .swiper-slide-1:nth-child(n+3) {
    display: none;
  }
}

@media (min-width: 1152px) and (max-width: 1920px) {

  .swiper-slide-1:nth-child(n+4) {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {

  .stages__wrapper {
    margin: 30px 36px 0 36px;
  }
}