@media (min-width: 1440px) and (max-width: 1920px) {

  /* display: none; */
 
  .laptop, .phone,
  .swiper-pagination {
    display: none;
  }
}

@media (min-width: 1152px) and (max-width: 1920px) {

  .swiper-slide-1:nth-child(n+4) {
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 1439px) {

  /* Глобальные Блоки */
  
  .container {
    padding: 0 10px;
  }

  .slogan {
    width: 356px;

    font-size: 12px;
    line-height: 15px;
  }

  /* Header позиционирование */

  .header__wrapper {
    width: 100%;
    justify-content: space-between;
  }

  /* Header модификаторы */

  .header__button--width {
    width: 62px;
    height: 38.75px;
  }

  /* Scope Позиционирование */

  .scope__list {
    margin-top: 17px;
  }

  /* Awards позиционирование */

  .awards__border {
    padding: 0;
  }

  .awards__gold-bitrix {
    position: static;
  }

  .awards__swiper-pagination {
    margin-bottom: 15px;
  }

  /* Awards модификаторы */

  .awards__swiper--padding {
    padding-bottom: 70px;
  }

  /* Research позиционирование */

  .research__title {
    margin-bottom: 30px;
  }

  /* Stages позиционирование */

  .stages__priority {
    margin-bottom: 50px;
  }

  /* Footer модификаторы */

  .footer__text--font-size {
    font-size: 14px;
    line-height: 17px;
  }

  .footer__logo--size {
    width: 156px;
    height: 55px;
  }

  /* display: none; */

  .desktop {
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 1179px) {

  /* Размеры шрифтов */

  .heading {
    width: 100%;

    font-size: 24px;
    line-height: 29px;
  }

  /* Millenium позиционирование */

  .millenium__wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (min-width: 485px) and (max-width: 1439px) {

  .about-us__title {
    flex-direction: row;
    gap: 5px;
  }
}