@media (min-width: 360px) and (max-width: 767px) {
  
  /* Размеры шрифтов */

  .h1 {
    font-size: 20px;
    line-height: 24px;
  }

  .title, .caption {
    font-size: 18px;
    line-height: 22px;
  }

  .subtitle, .h4, .h5, .text,
  .tagline, .priority__h4_font-size,
  .description {
    font-size: 12px;
    line-height: 15px;
  }

  .offer {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  /* Глобальные блоки */

  .logo {
    width: 113px;
    height: 35px;
  }

  .offer {
    width: 340px;
    text-align: center;
  }

  .certificate {
    width: 280px;
  }

  .description {
    width: 341px;
  }

  .footer {
    width: 360px;
    height: 642px;
  }

  /* Декоративные блоки */

  .background {
    width: 447px;
    height: 299px;
  }

  .awards {
    height: 731px;
  }

  .gold-bitrix {
    width: 99px;
    height: 120px;
  }

  .img-certificate {
    width: 280px;
    height: 395px;
  }

  .form {
    width: 311px;
    height: 486px;
  }

  /* Декоративные элементы */

  .border {
    width: 307px;
    height: 697px;
  }

  .circle {
    width: 37px;
    height: 37px;
  }

  .streak {
    border: 0.5px solid var(--silver);
  }

  .octa {
    width: 119px;
    height: 119px;
  }

  .cylinder {
    width: 103px;
    height: 102px;
  }

  .confetti {
    width: 42px;
    height: 41px;
  }

  .cube {
    width: 91px;
    height: 91px;
  }

  .hand {
    width: 221px;
    height: 113px;
  }

  /* Input Box */

  .input-box {
    width: 250px;
    height: 23px;
  }

  /* Header позиционирование */

  .container__header {
    margin: 12px 0 15px;
  }

  /* About Us позиционирование */

  .about-us__background {
    top: -10px;
    right: -58px;
  }

  .about-us__slogan {
    margin: 274px 0 50px;
  }

  .about-us__button {
    margin: 0 32px 9px;
  }

  /* Scope позиционирование */

  .scope__title {
    margin: 0;
  }

  .scope__button {
    margin-bottom: 88px;
  }

  /* Scope очередность */

  .scope--catalog {
    order: 1;
  }

  .scope__items--catalog {
    order: 2;
    margin-bottom: 39px;
  }

  .scope--order {
    order: 3;
    margin-bottom: 28px;
  }

  .scope__items--order {
    order: 4;
    margin-bottom: 32px;
  }

  .scope--integration {
    order: 5;
    margin-bottom: 24px;
  }

  .scope__items--integration {
    order: 6;
    margin-bottom: 36px;
  }

  .scope--crm {
    order: 7;
    margin-bottom: 62px;
  }

  .scope__items--crm {
    order: 8;
  }

  /* Services позиционирование */

  .services__swiper {
    margin-bottom: 75px;
  }

  .services__swiper-wrapper {
    flex-wrap: nowrap;
    gap: 0;
  }
  
  .services__swiper-pagination {
    margin-bottom: -58px;
  }

  /* Awards позиционирование */

  .awards__gold-bitrix {
    margin: 38px 121px 0;
  }

  .awards__border {
    margin: 19px 17px 0;
  }
  
  .awards__swiper {
    margin: 177px 30px 0;
  }

  .certificate__text {
    margin: 0 34px 24px;
  }

  /* Awards модификаторы */

  .awards__swiper--width {
    width: 280px;
  }

  .certificate__text--width {
    width: 212px;
  }

  /* Research позиционирование */

  .content__research {
    margin: 107px 0 70px;
  }

  .research__wrapper {
    flex-direction: column;
    gap: 19px;
  }

  /* Research модификаторы */

  .research__inner--size {
    width: 340px;
    height: 300px;
  }

  /* Stages позиционирование */

  .stages__wrapper {
    margin-top: 30px;
  }

  .priority__streak {
    margin: 24px 0 14px;
  }
  
  .priority__subtitle {
    margin-left: 18px;
  }

  .stages__image {
    margin-top: 20px;
  }
  
  /* Stages модификаторы */

  .stages__priority--padding {
    padding: 23px 13px;
  }

  .stages__frame-1--margin-bottom,
  .stages__frame-2--margin-bottom {
    margin-bottom: 2px;
  }

  .stages__frame-3--margin-bottom {
    margin-bottom: 23px;
  }

  .stages__frame-4--margin-bottom {
    margin-bottom: 5px;
  }

  .priority__h4--margin-bottom {
    margin-bottom: 30px;
  }

  /* Разделитель */

  .img-delimiter {
    width: 612px;
    height: 251px;
  }

  .content__img-delimiter {
    margin: 90px -102px 100px;
  }

  /* Millenium позиционирование */

  .content__millenium {
    justify-content: flex-start;
  }

  .content__millenium {
    flex-direction: column;
  }
  
  .millenium__heading {
    margin: 40px 32px 30px;
  }

  .millenium__form {
    margin: 30px 16px 0;
  }

  .form__caption {
    margin-left: 10px;
  }

  .millenium__input-box {
    margin: 0 10px 40px;
  }

  /* Millenium модификаторы */

  .content__millenium--padding {
    padding: 0;
  }

  .millenium__form--padding {
    padding: 37px 13px 46px;
  }
  
  .millenium__button--width {
    width: 268px;
  }

  /* Millenium позиционирование изображений */

  .millenium__octa {
    top: -62px;
    left: -10px;
  }
  
  .millenium__cylinder {
    top: -39px;
    right: -33px;
  }
  
  .millenium__confetti {
    top: 655px;
    right: 278px;
  }
  
  .millenium__cube {
    top: 763px;
    right: -10px;
  }
  
  .millenium__hand {
    left: 0;
    top: 810px;
  }

  /* Footer позиционирование */

  .container__footer {
    margin: 150px -10px 0;
  }

  .footer__title {
    margin-left: 98px;
  }

  .footer__wrapper {
    flex-direction: column;
  }

  .phone {
    flex-direction: column-reverse;
  }

  .footer__delimiter {
    margin: 30px 0;
  }

  .footer__adress {
    margin-top: 38px;
  }

  .footer__contacts {
    margin-left: 101px;
  }

  .footer__logo {
    margin: 37px 92px 24px;
  }

  /* Footer модификаторы */

  .container__footer--padding {
    padding: 27px 10px 48px;
  }

  .footer__button--width {
    width: 275px;
  }

  .footer__wrapper--margin {
    margin: 11px 0 30px;
  }

  .footer__wrapper--margin-2 {
    margin-bottom: 28px;
  }

  /* display: none; */
 
  .spoiler {
    display: none;
  }

}