@import url(./normalize.css);
@import url(./global.css);
@import url(./media.css);
@import url(./font.css);

/* 먫썛햪햣혦 혣햦혟혝쮏 */

.h1 {
  font-size: 48px;
  line-height: 59px;
}

.h2 {
  font-size: 36px;
  line-height: 44px;
}

.h3 {
  font-size: 24px;
  line-height: 29px;
}

.h4 {
  font-size: 18px;
  line-height: 22px;
}

.h5 {
  font-size: 14px;
  line-height: 17px;
}

.text {
  font-size: 12px;
  line-height: 15px;
}

/* 햅햩쮏쐃썛혧햫혦햣 햎쮏얧쟴햦햨햟혝쮐혦 */

.highlight {
  color: rgb(107, 90, 249);
}

.extra-bold {
  font-weight: 800;
}

.bold {
  font-weight: 700;
}

.regular {
  font-weight: 400;
}

.white-text {
  color: rgb(255, 255, 255);
}

/* 햆햣햨쮐햟혝햦쒫쫨햣 햠햩쮏쥃 */

.awards {
  height: 490px;

  border-radius: 10px;
  background-color: rgb(240, 213, 119);
}

.background {
  width: 855px;
  height: 569px;

  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
}

.swiper-slide {
  width: 373px;
  height: 200px;

  padding-left: 15px;

  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

/* 햆햣햨쮐햟혝햦쒫쫨햣 혨햩햣햪햣햫혝혦 */

.border {
  width: 1120px;
  height: 438px;

  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
}

.priority {
  border-radius: 10px;

  box-shadow: 
    0px 10px 60px 0px 
    rgba(42, 35, 103, 0.15);
  background: rgb(255, 255, 255);
}

.numbering {
  font-weight: 700px;
  font-size: 64px;
  line-height: 78px;

  color: rgb(255, 255, 255);
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.circle {
  width: 53px;
  height: 53px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(255, 255, 255);

  border-radius: 50%;
  background-color: rgb(67, 205, 147);
}

.stripe {
  width: 190px;
  border: 2px solid rgb(227, 117, 117);
}

.streak {
  border: 1px solid rgb(235, 235, 235);
}

.delimiter {
  width: 100%;
  border: 0.5px solid rgb(107, 90, 249);
}

.checkbox {
  display: none;
}

.custom-checkbox {
  width: 16px;
  height: 16px;

  display: inline-block;
  position: relative;

  margin-right: 13px;
  vertical-align: sub;

  border-radius: 2px;
  background: rgb(155, 143, 255);
}

.custom-checkbox::before {
  content: "";

  width: 10px;
  height: 7.34px;

  display: inline-block;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  transition: 0.2s ease-in;

  background-image: url(../images/check-mark.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

/* 햆햣햨쮐햟혝햦쒫쫨햣 햠햩쮏쥃 */

.button {
  height: 60px;
  width: 275px;

  font-weight: 800;
  font-size: 12px;
  line-height: 15px;

  border-radius: 5px;
  color: rgb(255, 255, 255);
  background: rgb(107, 90, 249);
}

.input-box {
  width: 338px;
  height: 30px;
}

.input-field {
  width: 100%;
  height: 100%;

  border: none;
  outline: none;

  border-bottom: 2px solid rgba(255, 255, 255, 0.4);

  color: rgba(255, 255, 255, 0.4);
  background: transparent;
}

.input-field::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

/* 햅햩쮏쐃썛혧햫혦햣 햠햩쮏쥃 */

.container {
  width: 1160px;

  margin-left: auto;
  margin-right: auto;
}

.description {
  width: 619px;

  font-size: 16px;
  line-height: 20px;
}

.offer {
  width: 472px;
  
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.certificate {
  width: 231px;
}

.millenium {
  height: 738px;

  border-radius: 20px;
  background: rgb(244, 248, 255);
}

.footer {
  width: 1440px;
  height: 569px;

  background: rgb(42, 35, 103);
}

/* Header 쮏햦혡햦쮏쫧쟴쮏쒫썛쫧쟳 */

.container__header {
  margin-top: 32px;
  margin-bottom: 23px;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__menu {
  margin-left: 35px;
  margin-right: 70px;
}

.header__list {
  display: flex;
  column-gap: 27px;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contacts__list {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.header__button {
  margin-left: 20px;
}

/* Header 햪쮏얧쟴햦햨햟혝쮐혦 */

.header__button_width {
  width: 180px;
}

/* Content 쮏햦혡햦쮏쫧쟴쮏쒫썛쫧쟳 */

.container__content {
  margin-top: 67px;
}

/* Abous Us 쮏햦혡햦쮏쫧쟴쮏쒫썛쫧쟳 */

.content__about-us {
  position: relative;
}

.about-us__background {
  position: absolute;

  top: -124px;
  right: -124px;
  
  pointer-events: none;
}

.about-us__h2 {
  display: flex;
  flex-direction: column;
}

.about-us__description {
  margin-top: 33px;
  margin-bottom: 116px;
}

.about-us__button {
  margin-bottom: 20px;
}

/* Services 쮏햦혡햦쮏쫧쟴쮏쒫썛쫧쟳 */

.content__services {
  margin-top: 159px;
  margin-bottom: 165px;
}

.services__swiper {
  margin-top: 54px;
}

.services__swiper-wrapper {
  display: flex;
  flex-wrap: wrap;

  column-gap: 20px;
  row-gap: 54px;
}

.swiper__stripe {
  margin-top: 9px;
  margin-bottom: 9px;
}

.services__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__spoiler {
  margin-top: 25px;
  margin-bottom: 20px;
}

/* Scope 쮏햦혡햦쮏쫧쟴쮏쒫썛쫧쟳 */

.scope__h2 {
  margin-bottom: 59px;
}

.scope__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.scope__list {
  margin-top: 18px;
}

.scope__item {
  margin-bottom: 8px;
}

.scope__item::before {
  content: '愉궟';
  margin-right: 3px;
}

.button__wrapper {
  display: flex;
  justify-content: center;
}

.scope__button {
  margin-top: 100px;
  margin-bottom: 150px;
}

/* Awards 쮏햦혡햦쮏쫧쟴쮏쒫썛쫧쟳 */

.awards__gold-bitrix {
  position: absolute;

  margin-top: 39px;
  margin-left: 34px;

  z-index: 2;
}

.awards__border {
  position: absolute;

  margin-top: 26px;
  margin-left: 20px;
  
  z-index: 1;
}

.awards__certificate {
  position: absolute;
  margin-top: 53px;
  margin-left: 487px;
}

.certificate__text {
  margin-top: 6px;
  margin-bottom: 14px;
}

.awards__certificate {
  text-align: center;
}

/* Awards 햪쮏얧쟴햦햨햟혝쮐혦 */

.awards__certificate_second {
  margin-left: 813px;
}

.certificate_h5 {
  color: rgb(159, 159, 159);
}

/* Research 쮏햦혡햦쮏쫧쟴쮏쒫썛쫧쟳 */

.content__research {
  margin-top: 150px;
  margin-bottom: 119px;
}

.research__scheme {
  float: right;
}

.research__wrapper {
  margin-top: 66px;
  margin-right: 10px;
}

.research__h4 {
  margin-bottom: 15px;
}

/* Stages 쮏햦혡햦쮏쫧쟴쮏쒫썛쫧쟳 */

.stages__wrapper {
  margin-top: 63px;
}

.stages__priority {
  margin-bottom: 55px;
}

.priority__streak {
  margin-top: 28px;
  margin-bottom: 26px;
}

.title__wrapper {
  display: flex;
  align-items: center;
}

.priority__h3 {
  margin-left: 125px;
}

.priority__h4 {
  margin-bottom: 15px;
}

.stages__image {
  margin-top: 100px;
  margin-bottom: 70px;
}

/* Stages 햪쮏얧쟴햦햨햟혝쮐혦 */

.stages__priority-padding {
  padding: 30px 80px;
}

.stages__image-bottom {
  margin-bottom: 70px;
}

.priority__h4-bottom {
  margin-bottom: 200px;
}

.priority_h4-width {
  width: 970px;
}

/* 먫썛햢햣햩햦혝햣햩혧 */

.img-delimiter {
  width: 1440px;
}

.content__img-delimiter {
  margin-top: 121px;
  margin-left: -140px;
  margin-bottom: 150px;
}

/* Millenium 쮏햦혡햦쮏쫧쟴쮏쒫썛쫧쟳 */

.content__millenium {
  position: relative;
  padding: 41px 98px;
}

.millenium__wrapper {
  display: flex;
  justify-content: space-between;
}

.millenium__h2 {
  margin-bottom: 50px;
}

.millenium__text {
  margin-bottom: 20px;
}

.millenium__octa {
  position: absolute;

  margin-top: -110px;
  margin-left: 250px;
}

.millenium__form-wrapper {
  margin-top: 24px;
}

.millenium__h3 {
  text-align: center;
}

.millenium__form-text {
  text-align: center;

  margin-top: 28px;
  margin-bottom: 40px;
}

.millenium__input-box {
  margin-bottom: 31px;
}

.millenium__button {
  margin-bottom: 25px;
}

.millenium__hand {
  margin-top: -60px;
  margin-left: -98px;
}

.millenium__cylinder {
  position: absolute;

  top: 240px;
  right: -40px;
}

.millenium__confetti {
  position: absolute;

  top: 540px;
  right: 590px;
}

.millenium__cube {
  position: absolute;

  top: 643px;
  right: -10px;
}

/* Millenium 햪쮏얧쟴햦햨햟혝쮐혦 */

.millenium_text-width {
  width: 448px;
}

.millenium_h2 {
  width: 205px;
}

.millenium__form_padding {
  padding: 56px 56px 47px 57px;
}


.millenium__form_size {
  width: 472px;
  height: 486px;

  border-radius: 20px;
  background: rgb(107, 90, 249);
}

.millenium_form-button {
  width: 341px;

  color: rgb(107, 90, 249);
  background: rgb(255, 255, 255);
}

.millenium_highlight {
  color: rgb(155, 143, 255);
}

/* Footer 쮏햦혡햦쮏쫧쟴쮏쒫썛쫧쟳 */

.container__footer {
  margin-top: 269px;
  margin-left: -140px;
}

.footer__wrapper {
  padding: 75px 140px 58px 140px;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social-wrap {
  display: flex;
  column-gap: 20px;
}

.footer__logo {
  margin-left: 500px;
  margin-bottom: 20px;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 16px;
}

/* Footer 햪쮏얧쟴햦햨햟혝쮐혦 */

.footer_margin-first {
  margin-top: 30px;
  margin-bottom: 32px;
}

.footer_margin-second {
  margin-top: 14px;
  margin-bottom: 24px;
}