@import url(./normalize.css);
@import url(./global.css);
@import url(./font.css);

@media (min-width: 1440px) {

  /* display: none; */

  button.burger, .call, .laptop, .phone {
    display: none;
  }
}

/* 먫썛햪햣혦 혣햦혟혝쮏 */

.h1 {
  font-size: 48px;
  line-height: 59px;
}

.title {
  font-size: 36px;
  line-height: 44px;
}

.subtitle, .caption {
  font-size: 24px;
  line-height: 29px;
}

.h4, .tagline {
  font-size: 18px;
  line-height: 22px;
}

.h5 {
  font-size: 14px;
  line-height: 17px;
}

.text {
  font-size: 12px;
  line-height: 15px;
}

/* 햅햩쮏쐃썛혧햫혦햣 햎쮏얧쟴햦햨햟혝쮐혦 */

.highlight {
  color: rgb(107, 90, 249);
}

.bold {
  font-weight: 700;
}

.white-text {
  color: rgb(255, 255, 255);
}

.underline {
  text-decoration: underline;
}

/* 햅햩쮏쐃썛혧햫혦햣 햠햩쮏쥃 */

.container {
  width: 1440px;
  padding: 0 140px;

  box-sizing: border-box;
  overflow: hidden;
}

.logo {
  width: 182px;
  height: 55px;
}

.contacts {
  font-weight: 800;
}

.slogan {
  width: 619px;

  font-size: 16px;
  line-height: 20px;
}

.offer {
  width: 472px;
  
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.certificate {
  width: 231px;
  text-align: center;
}

.heading {
  width: 205px;

  font-size: 36px;
  line-height: 44px;
}

.description {
  width: 448px;

  font-size: 18px;
  line-height: 22px;
}

.footer {
  width: 1440px;
  height: 569px;

  background: rgb(42, 35, 103);
}

/* 햆햣햨쮐햟혝햦쒫쫨햣 햠햩쮏쥃 */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 10;
}

.button {
  height: 60px;
  width: 275px;

  font-weight: 800;
  font-size: 12px;
  line-height: 15px;

  border-radius: 5px;
  color: rgb(255, 255, 255);
  background: rgb(107, 90, 249);
}

.background {
  width: 855px;
  height: 569px;
}

.swiper-slide {
  width: 373px;
  height: 200px;

  padding-left: 15px;
  padding-right: 15px;

  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.awards {
  height: 490px;

  border-radius: 10px;
  background-color: rgb(240, 213, 119);
}

.img-certificate {
  width: 231px;
  height: 327px;
}

.millenium {
  height: 932px;

  border-radius: 20px;
  background: rgb(244, 248, 255);
}

.form {
  width: 472px;
  height: 486px;

  text-align: center;

  border-radius: 20px;
  background: rgb(107, 90, 249);
}

/* 햆햣햨쮐햟혝햦쒫쫨햣 혨햩햣햪햣햫혝혦 */

.border {
  width: 1120px;
  height: 438px;

  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
}

.priority {
  border-radius: 10px;

  box-shadow: 
    0px 10px 60px 0px 
    rgba(42, 35, 103, 0.15);
  background: rgb(255, 255, 255);
}

.numbering {
  font-size: 64px;
  line-height: 78px;

  color: rgb(255, 255, 255);
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.circle {
  width: 53px;
  height: 53px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(255, 255, 255);

  border-radius: 50%;
  background-color: rgb(67, 205, 147);
}

.stripe {
  width: 190px;
  border: 2px solid rgb(227, 117, 117);
}

.streak {
  border: 1px solid rgb(235, 235, 235);
}

.delimiter {
  width: 100%;
  border: 0.5px solid rgb(107, 90, 249);
}

/* 햌햫쮏햨햟 혜햨혦혝쮏 햪햣햫혩 */

.burger {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.burger__line {
  height: 4px;

  border-radius: 1px;
  background: rgb(107, 90, 249);
}

.burger__line_top {
  width: 41px;
}

.burger__line_middle {
  width: 27px;
}

.burger__line_bottom {
  width: 15px;
}

/* Input Box */

.input-box {
  width: 338px;
  height: 30px;
}

.input-field {
  width: 100%;
  height: 100%;

  border: none;
  outline: none;

  border-bottom: 2px solid rgba(255, 255, 255, 0.4);

  color: rgba(255, 255, 255, 0.4);
  background: transparent;
}

.input-field::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

/* Checkbox */

.checkbox {
  display: none;
}

.custom-checkbox {
  width: 16px;
  height: 16px;

  display: inline-block;
  position: relative;

  margin-right: 13px;
  vertical-align: sub;

  border-radius: 2px;
  background: rgb(155, 143, 255);
}

.custom-checkbox::before {
  content: "";

  width: 10px;
  height: 7.34px;

  display: inline-block;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  transition: 0.2s ease-in;

  background-image: url(../images/check-mark.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

/* Header 쮏햦혡햦쮏쫧쟴쮏쒫썛쫧쟳 */

.container__header {
  margin-top: 32px;
  margin-bottom: 23px;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__navigation {
  margin-left: 35px;
  margin-right: 70px;
}

.header__list {
  display: flex;
  column-gap: 27px;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contacts__list {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.header__button {
  margin-left: 20px;
}

/* Header 햪쮏얧쟴햦햨햟혝쮐혦 */

.header__button_width {
  width: 180px;
}

/* Content 쮏햦혡햦쮏쫧쟴쮏쒫썛쫧쟳 */

.container__content {
  margin-top: 67px;
}

/* Abous Us 쮏햦혡햦쮏쫧쟴쮏쒫썛쫧쟳 */

.content__about-us {
  position: relative;
}

.about-us__background {
  position: absolute;

  top: -124px;
  right: -124px;
  
  pointer-events: none;
}

.about-us__title {
  display: flex;
  flex-direction: column;
}

.about-us__slogan {
  margin-top: 33px;
  margin-bottom: 116px;
}

.about-us__button {
  margin-bottom: 20px;
}

/* Services 쮏햦혡햦쮏쫧쟴쮏쒫썛쫧쟳 */

.content__services {
  margin-top: 159px;
  margin-bottom: 165px;
}

.services__swiper {
  margin-top: 54px;
}

.swiper__stripe {
  margin-top: 9px;
  margin-bottom: 9px;
}

.services__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__inner {
  display: flex;
  flex-wrap: wrap;

  gap: 54px 20px;
}

.services__spoiler {
  margin-top: 25px;
  margin-bottom: 20px;
}

/* Scope 쮏햦혡햦쮏쫧쟴쮏쒫썛쫧쟳 */

.scope__title {
  margin-bottom: 59px;
}

.scope__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.scope__list {
  margin-top: 18px;
}

.scope__item {
  position: relative;

  padding-left: 17px;
  padding-bottom: 8px;
}

.scope__item::before {
  content: '愉궟';
  position: absolute;

  left: 0;
  top: 0;
}

.scope__inner {
  display: flex;
  justify-content: center;
}

.scope__button {
  margin-top: 100px;
  margin-bottom: 150px;
}

/* Awards 쮏햦혡햦쮏쫧쟴쮏쒫썛쫧쟳 */

.awards__gold-bitrix {
  position: absolute;

  margin-top: 39px;
  margin-left: 34px;

  z-index: 2;
}

.awards__border {
  position: absolute;

  margin-top: 26px;
  margin-left: 20px;
  
  z-index: 1;
}

.awards__certificate {
  position: absolute;
  margin-top: 53px;
  margin-left: 487px;
}

.certificate__text {
  margin-top: 6px;
  margin-bottom: 14px;
}

/* Awards 햪쮏얧쟴햦햨햟혝쮐혦 */

.awards__certificate_margin {
  margin-left: 813px;
}

.certificate__title_color {
  color: rgb(159, 159, 159);
}

/* Research 쮏햦혡햦쮏쫧쟴쮏쒫썛쫧쟳 */

.content__research {
  margin-top: 150px;
  margin-bottom: 119px;
}

.research__title {
  margin-bottom: 66px;
}

.research__wrapper {
  display: flex;
  gap: 10px;
}

.research__tagline {
  margin-bottom: 15px;
}

/* Research 햪쮏얧쟴햦햨햟혝쮐혦 */

.research__inner_size {
  width: 544px;
  height: 440px;
}

/* Stages 쮏햦혡햦쮏쫧쟴쮏쒫썛쫧쟳 */

.stages__wrapper {
  margin-top: 63px;
}

.stages__priority {
  margin-bottom: 55px;
}

.priority__streak {
  margin-top: 28px;
  margin-bottom: 26px;
}

.stages__subtitle {
  display: flex;
  align-items: center;
}

.priority__subtitle {
  margin-left: 125px;
}

.priority__h4 {
  margin-bottom: 15px;
}

.stages__image {
  margin-top: 100px;
}

/* Stages 햪쮏얧쟴햦햨햟혝쮐혦 */

.stages__priority_padding {
  padding: 23px 85px;
}

.stages__frame-1_margin-bottom,
.stages__frame-2_margin-bottom {
  margin-bottom: 72px;
}

.stages__frame-3_margin-bottom {
  margin-bottom: 7px;
}

.stages__frame-4_margin-bottom {
  margin-bottom: 28px;
}

.priority__h4_margin-bottom {
  margin-bottom: 215px;
}

/* 먫썛햢햣햩햦혝햣햩혧 */

.img-delimiter {
  width: 1440px;
}

.content__img-delimiter {
  margin: 121px -140px 150px;
}

/* Millenium 쮏햦혡햦쮏쫧쟴쮏쒫썛쫧쟳 */

.content__millenium {
  display: flex;
  justify-content: space-between;
}

.millenium__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.millenium__heading {
  margin-bottom: 35px;
}

.millenium__form {
  margin-top: 24px;
}

.millenium__text {
  margin-top: 28px;
  margin-bottom: 46px;
}

.millenium__input-box {
  margin-bottom: 31px;
}

.millenium__button {
  margin-bottom: 25px;
}

/* Millenium 햪쮏얧쟴햦햨햟혝쮐혦 */

.content__millenium_padding {
  position: relative;
  padding: 41px 98px;
}

.millenium__form_padding {
  padding: 56px 56px 47px 57px;
}

.millenium__form_button {
  width: 341px;

  color: rgb(107, 90, 249);
  background: rgb(255, 255, 255);
}

.millenium__text_highlight {
  color: rgb(155, 143, 255);
}

/* Millenium 쮏햦혡햦쮏쫧쟴쮏쒫썛쫧쟳 햦향쮏쐄햟햤햣햫햦햧 */

.millenium__octa {
  position: absolute;

  top: -70px;
  left: 351px;
}

.millenium__cylinder {
  position: absolute;

  top: 240px;
  right: -40px;
}

.millenium__confetti {
  position: absolute;

  top: 540px;
  right: 590px;
}

.millenium__cube {
  position: absolute;

  top: 643px;
  right: -10px;
}

.millenium__hand {
  position: absolute;
  left: 0;
  top: 487px;
}

/* Footer 쮏햦혡햦쮏쫧쟴쮏쒫썛쫧쟳 */

.container__footer {
  margin-top: 269px;
  margin-left: -140px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social {
  display: flex;
  column-gap: 20px;
}

.footer__logo {
  margin-left: 500px;
  margin-bottom: 20px;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 16px;
}

/* Footer 햪쮏얧쟴햦햨햟혝쮐혦 */

.container__footer_padding {
  padding: 75px 140px 58px 140px;
}

.footer__text_font-size {
  font-size: 18px;
  line-height: 22px;
}

.footer__button_width {
  width: 341px;
}

.footer__wrapper_margin {
  margin-top: 30px;
  margin-bottom: 32px;
}

.footer__wrapper_margin_second {
  margin-top: 14px;
  margin-bottom: 24px;
}

.footer__logo_size {
  width: 161px;
  height: 55px;
}