@import url(./normalize.css);
@import url(./global.css);
@import url(./media.css);
@import url(./font.css);

/* Модификаторы (?) */

.container {
  width: 1160px;

  margin-left: auto;
  margin-right: auto;
}

.highlight {
  color: rgb(107, 90, 249);
}

.bold {
  font-weight: 700;
}

/* Основные Блоки */

.title {
  font-size: 36px;
  line-height: 44px;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.menu {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.contacts {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
}

.button {
  height: 60px;
  width: 275px;

  font-weight: 800;
  font-size: 12px;
  line-height: 15px;

  border-radius: 5px;
  color: rgb(255, 255, 255);
  background: rgb(107, 90, 249);
}

/* Второстепенные блоки */

.working-hours {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

.background {
  width: 855px;
  height: 569px;

  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
}

.description {
  width: 619px;

  font-size: 16px;
  line-height: 20px;
}

.offer {
  width: 472px;
  
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.stripe {
  width: 190px;
  border: 2px solid rgb(227, 117, 117);
}

.swiper-slide {
  width: 373px;
  height: 200px;

  padding-left: 15px;

  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.numbering {
  font-weight: 700px;
  font-size: 64px;
  line-height: 78px;

  color: rgb(255, 255, 255);
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.swiper-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

/* Header */

.container__header {
  margin-top: 32px;
  margin-bottom: 23px;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__menu {
  margin-left: 35px;
  margin-right: 70px;
}

.menu__list {
  display: flex;
  column-gap: 27px;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contacts__list {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.header__button {
  width: 180px;
  margin-left: 20px;
}

/* Section №1 */

.container__content {
  margin-top: 67px;
}

.content__about-us {
  position: relative;
}

.about-us__background {
  position: absolute;

  top: 35px;
  right: 85px;
  
  pointer-events: none;
}

.about-us__title {
  display: flex;
  flex-direction: column;
}

.about-us__description {
  margin-top: 33px;
  margin-bottom: 116px;
}

.about-us__button {
  margin-bottom: 20px;
}

/* Section №2 */

.content__services {
  margin-top: 159px;
  margin-bottom: 165px;
}

.services__swiper {
  margin-top: 54px;
}

.services__swiper-wrapper {
  display: flex;
  flex-wrap: wrap;

  column-gap: 20px;
  row-gap: 54px;
}

.swiper__stripe {
  margin-top: 9px;
  margin-bottom: 9px;
}

.services__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__spoiler {
  margin-top: 25px;
  margin-bottom: 20px;
}